


body {
    margin: 0;
    background-color: lightgray;
    ;
  }
  
  #my-canvas {
    background-color: darkgray;
  }
  
  #start-btn {
    background-color: rgb(188, 94, 27);
    color: white;
    padding: 20px;
    font-size: 20px;
    margin-top: 40px;
    border-radius: 10px; 
  }

  #restart-btn {
    background-color: blue;
    color: white;
    padding: 50px;
    font-size: 50px;
    margin-top: 50px;
    border-radius: 20px; 
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
  }
  
  #my-canvas, #gameover-screen {
    display: none;
  }